@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', sans-serif;
    background: white;
    height: auto;
    margin: 0;
}

/* header mobile */

header {
    position: fixed;
    background-color: #000;
    width: 100vw;
    text-align: center;
    padding: 1rem;
    height: 1rem;
}

nav {
    display: none;
    width: 100vw;
    background-color: #ededed;
    position: absolute;
    left: 0;
    margin: 0;
    text-align: center;
    top: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-open {
    display: block;
}

nav a {
    display: block;
    font-size: 1.3rem;
    color: #000;
    text-align: center;
    padding: 1.6rem 1.6rem;
    text-decoration: none;
    cursor: pointer;
    tab-size: 2.2rem;
}

nav a:hover {
    background-color: darkgreen;
    color: white
}

#hamburger {
    position: absolute;
    right: 3%;
    top: 3%;
    margin-top: -.75rem;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#logo {
    position: relative;
    margin-top: -.75rem;
    margin-left: -.75rem;
    float: left;
    border-radius: 2.5%;
    height: 37.5px;
    width: 50px;
    padding: 0;
}

#hamburger {
    display: block;
    position: relative;
    float: right;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: darkgreen;
    margin: 6px 0;
    transition: 400ms;
}

.change .bar1 {
    background-color: orange;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    background-color: orange;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
}

/* main */

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
    margin-top: .75rem;
    font-weight: 800;
}

p.text-reg {
    margin-bottom: 20px;
}

main {
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
}

landing {
    background: hsl(0, 46%, 46%);
}
div#header {
height: 3rem;
vertical-align: middle;
}


#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

#landing-text h2 {
    color: #888;
}

#landing-image {
    background: url('https://source.unsplash.com/mQHEgroKw2k');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    flex: 0 1 60vw;
    margin: 0;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    z-index: -2;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}

.btn:hover {
    background: darkgreen;
    color: white;
}

#header {
    padding: 1rem;
    text-align: center;
    background: #333;
    color: #fff;
}

#header h3 {
    display: inline-block;
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 2rem;
}

.photo {
    width: 100%;
}

.feature,
#email {
    padding: 0.8 rem;
    text-align: center;
}

#email input {
    font-size: 1rem;
    margin-top: 5rem;
    width: 90%;
}
input{
    text-align: center;
}
input::placeholder {
    text-align: center;
    color: rgba(67, 99, 67, 0.575);
} 

#send {
    font-size: 1.25rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 3rem 0;
    padding: 1rem;
    width: 90%;
    border-radius: .3rem;
    color: #333;
    transition: background 500ms ease;
}

#send:hover {
    background: darkgreen;
    color: white;
}

div#map {
    height: 60vh;
    width: 100%;
    border: 1px #ccc solid;
    border-radius: 2px;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
}

div#map iframe {
    height: 60vh;
    width: 100%;
    padding: 0;
}

#contacts-section {
    text-align: center;
    padding: 1rem 1rem;
    margin: auto;
    color: #333;
}

/* **********************************************/

/* Screen sizes 600px and up */

@media(min-width: 600px) {
    #hamburger {
        display: none;
    }
    main {
        width: 80vw;
        margin-bottom: 9rem;
    }
    body {
        margin: 0;
    }
    /****** header ******/
    #logo {
        height: 3rem;
        width: 4rem;
        float: left;
        z-index: 9999;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(200px, 3fr) 1fr;
        top: 0;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: .5rem;
        align-items: center;
        top: 0;
        background-color: rgb(1, 19, 5);
    }
    nav ul {
        margin-top: -.25rem;
        display: flex;
        padding: 0 10vw 0 20vw;
        /* background-color: gold; */
        justify-content: space-around;
    }
    nav li {
        margin-left: 1em;
        margin-bottom: 0;
    }
    nav a {
        font-size: 1.5rem;
        padding: .5rem;
        position: relative;
        color: white;
    }
    nav a::before {
        content: " ";
        display: block;
        height: 5px;
        background: green;
        position: absolute;
        top: -.25rem;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover {
        background-color: transparent;
        color: green;
    }
    nav a:hover::before {
        transform: scale(1, 1);
        /* background: none; */
    }
    /* landing */
    #landing {
        margin-top: 3rem;
        display: flex;
        height: 100%;
    }
    #landing-text {
        height: 100vh;
    }
    #landing-image {
        height: 100vh;
    }
    p {
        padding-bottom: 20px;
    }
    #email {
        width: 80%;
        margin: auto;
    }

    #send {
        width: auto;
        padding: 0.5rem 2rem;
        border: 1px #ccc solid;
        display: inline-block;
        margin: 2rem;
        margin-bottom: 5rem;
        border-radius: 50px;
        color: #333;
        transition: background 500ms ease;
    }
    #contacts-section {
        margin-top: -4rem;
        width: 90vw;
    }
    div#map {
        width: 65%;
        margin: auto;
        border: 1px #ccc solid;
        border-radius: 2px;
        box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1);
    }
    div#map iframe {
        width: 100%;
        padding: 0;
    }
}

/* Screent sizez 700 and up */

@media(min-width: 700px) {
    .btn {
        padding: 1rem 3rem;
    }
}